* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-branca: white ;
}

#container_burguer {
  width: 35px;
  height: 35px;
  position: fixed;
  right: 10px;
  top: 30px;
  z-index: 99999999;
}
#button_burguer {
  position: fixed;
  width: 100%;
  top: 80px;
  border-end-end-radius: 20px;
  /* border: 1px solid green; */
  overflow: auto;
  z-index: 99999999;
}

#button_burguer a{
  width: 100%;
  height: 50px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.185); */
  /* display: block; */
  /* margin: 40px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(0,0,0,1) 22%, rgba(43,0,162,0.4514180672268907) 95%);
  color: rgb(187, 187, 187);
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  cursor: pointer;
  transition: font-size 0.3s ;
  z-index: 99999999;
}
#button_burguer a:hover{
  color: white;
  font-size: 18px;
}

.checkboxtoggler {
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  /* border: 1px solid green; */
}
  
.line-1 {
  background: var(--cor-branca);
  height: 5px;
  border-radius: 10px;
  transition-duration: 500ms;
}
  
.line-2 {
  background: var(--cor-branca);
  height: 5px;
  border-radius: 10px;
  transition-duration: 500ms;
}
  
.line-3 {
  background: var(--cor-branca);
  height: 5px;
  border-radius: 10px;
  transition-duration: 200ms;
}
  
#toggleChecker {
  height: 3em;
  width: 100%;
  display: none;
}

#toggleChecker:checked + #togglerLable .checkboxtoggler .line-1 {
  -webkit-transform: rotate(45deg) translateY(4px) translateX(0.7em);
  -ms-transform: rotate(45deg) translateY(4px) translateX(0.7em);
  transform: rotate(45deg) translateY(4px) translateX(6px);
}
  
#toggleChecker:checked + #togglerLable .checkboxtoggler .line-2 {
  -webkit-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  -ms-transform: rotate(-45deg) translateY(0em) translateX(0.1em);
  transform: rotate(-45deg) translateY(0em) translateX(0.1em);
}
  
#toggleChecker:checked + #togglerLable .checkboxtoggler .line-3 {
  transform: scaleX(0);
  transform-origin: left;
}

@media (min-width: 1070px) {
  #hamburguer_bar {
    display: none;
  }
}
@media (max-width: 1070px) {
  #hamburguer_bar {
    display: block;
  }
}