* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: #000000;
}
/* header{ */
  /* z-index: 100; */
/* } */

#menu{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  color: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(0,0,0,1) 22%, rgba(43,0,162,0.4514180672268907) 95%);
  z-index: 101;
  position: fixed;
}

#menu #name {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 25px;
  z-index: 100;

}

#menu #button a{
  width: 80px;
  margin-left: 50px;
  z-index: 100;
  
} 

#menu #button a{
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 15px;
  margin: 20px;
  color: rgb(187, 187, 187);
  z-index: 100;
  position: relative;
  /* left: 30px; */
  /* border: 1px solid; */
  text-decoration: none;

}
#button {
  position: relative;
  width: 450px;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;

}

#menu #button a:hover {
  cursor: pointer;
  color: white;
  z-index: 100;
}
/* 
=======================================
=========== MAIN ======================
=======================================
*/

.img1 {
  position: absolute;
  top: 0;
}
.img2 {
  position: absolute;
  top: 0;
}

#section1 {
  height: 100vh;
  flex-direction: column;
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
}
#icons ion-icon {
  margin-top: 6%;
  color: rgb(187, 187, 187);
  cursor: pointer;
}
#icons ion-icon:hover {
  color:  rgb(53, 13, 165);
}

.instagram ion-icon {
  position: relative;
  width: 30px;
  height: 30px;
  left: 100px;
}
.discord ion-icon {
  position: relative;
  width: 30px;
  height: 30px;
  left: 100px;
}
.github ion-icon {
  position: relative;
  width: 30px;
  height: 30px;
  left: 100px;
}

#meunu_inicial {
  width: 100%;
  height: 450px;
  /* border: 1px solid white; */
  position: relative;
  
}
.titulo {
  color: rgb(0, 97, 0);
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 20px;
  margin-left: 190px;
  /* z-index: -1; */
}
.p1 {
  color: white;
  font-family: "DM Sans", sans-serif;
  position: absolute;
  top: 40px;
  margin-left: 190px;
  font-weight: 900;
  font-size: 130px;
  /* z-index: -1; */
}
.p2 {
  background: linear-gradient(90deg, rgba(0,158,162,1) 0%, rgba(43,0,162,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "DM Sans", sans-serif;
  position: absolute;
  top: 160px;
  margin-left: 190px;
  font-weight: 900;
  font-size: 130px;
  overflow: hidden;
  width: 0;
  animation: write 3s steps(23, end) infinite;
  /* z-index: -1; */
}

.p3 {
  color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  top: 300px;
  margin-left: 190px;
  /* z-index: -1; */
}

.p2 span::before {
  content: "";
  background: linear-gradient(90deg, rgba(0,158,162,1) 0%, rgba(43,0,162,1) 100%);
  background-clip: text;
  animation: plavaras 6s infinite;

}
@keyframes write {
  50% {
    width: 13ch;
  }
}
@keyframes plavaras {
  0%, 49% {
    content: "STUDENT.";
  }
  50%, 100% {
    content: "DEVELOPER.";
  }
}



.imagem img{
  position: absolute;
  z-index: -80;
}

.img1{
  position: absolute;
  /* width: 60%; */
  width: 100%;
  height: 100vh;
  z-index: -99;
  opacity: 0.08;
}

#txt2 {
  width: 150px;
  height: 100vh;
  /* border: 1px solid white; */
  position: absolute;
  background-color: rgba(32, 32, 32, 0.253);
  top: 0px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -99999;
}
.name2 {
  /* font-family: "Nunito", sans-serif; */
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 25px;
  position: relative;
  top: 8%;
  color: rgb(187, 187, 187);
  /* border: 1px solid; */
  width: 20px;
  height: 240px;
  text-align: center;
}



/* 
=======================================
=========== MAIN SECTION 2 ============
=======================================
*/
#section2 {
  height: 413px;
  flex-direction: column;
  /* border: 1px solid; */
  position: relative;
  top: -80px;
  z-index: 100;
}

/* #section2 { */
  /* color: white; */

  /* background-color: beige; */
/* } */

#divide {
  position: relative;
  display: flex;
  justify-content: center;
  top: 80px;
  width: 100%;
  height: 120px;
}

#info {
  position: relative;
  background-color: rgb(53, 13, 165);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  /* z-index: -1; */
  top: 80px;
}

.abilidades {
  display: flex;
}

.abilidades div {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  width: 130px;
  height: 240px;
  /* border: 1px solid; */
}


#info::-webkit-scrollbar {
  height: 9px;
  background: transparent;
}

#info::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, rgba(0,158,162,1) 0%, rgba(43,0,162,1) 100%);
  background-color: #000000;
  border-radius: 10px;
}

#info::-webkit-scrollbar-track {
  background: transparent;
}

#info::-webkit-scrollbar-corner {
  background: transparent; 
}
.abilidades .ab{
  display: flex;
  justify-content: center;
}

.abilidades img{
  position: relative;
  /* margin-top: 0; */
  width: 100px;
  height: 100px;
}

.abilidades p {
  position: absolute;
  bottom: 0;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

/* 
=======================================
=========== MAIN SECTION 3 ============
=======================================
*/

#section3 {
  height: 80vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
  color: white;

  display: flex;
  align-items: center;
}


#sobre {
  width: 600px;
  height: 300px;
  margin-left: 100px;
}
.titulo_sobre {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: rgb(0, 97, 0);
  position: relative;
  top: 15px;
  /* z-index: -1; */
}
.titulo_sobre2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 76px;
  /* z-index: -1; */
  background: linear-gradient(90deg, rgba(0,158,162,1) 0%, rgba(43,0,162,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 3px;
}
.paragrafo{
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  /* z-index: -1; */
}
.caixa_image_pc {
  position: relative;
  top: 350px;
  display: flex;
  /* left: 300px; */
  left: 10%;

}
.caixa_image_pc img{
  width: 450px;
  position: relative;
  top: -310px;
  /* z-index: -1; */
  border-radius: 20px;
  box-shadow: 0px 0px 28px 0px rgb(32, 32, 32);
  display: block;
}


/* 
=======================================
=========== MAIN SECTION 4 ============
=======================================
*/
#section4 {
  height: 500px;
  /* border: 1px solid yellow; */
  color: white;
}

#trabalhos {
  /* width: 100%; */
  height: 100%;
  /* border: 1px solid rgb(153, 0, 255); */
  position: relative;
  top: -31px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* #caixa_arroow {
  display: flex;
  justify-content: center;
  position: relative;
  top:-40px;

} */
.arroow {
  width: 80px;
  height: 80px;
  position: relative;
  background-color: rgb(0, 97, 0);
  border-radius: 50px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arroow ion-icon{
  width: 40px;
  height: 40px;
  
}
.paragrafos4{
  width: 500px;
  height: 200px;
  position: relative;
  top: -80px;
  display: flex;
  justify-content: center;
  /* z-index: -1; */

}
.paragrafos4  .titulo_trabalhos {
  color: rgb(0, 97, 0);
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  /* z-index: -1; */

}
.subTitulo_trabalhos {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 76px;
  /* z-index: -1; */
  background: linear-gradient(90deg, rgba(0,158,162,1) 0%, rgba(43,0,162,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 10px;
}

#experiencia {
  width: 400px;
  height: 250px;
  position: absolute;
  margin-top: 150px;
  background-color: #181818;
  background-image: linear-gradient(160deg, #292929 0%, #111111 100%);
  border-radius: 30px;
  transition: transform 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  text-align: center;
}
#experiencia:hover {
  transform: scale(1.1);
}

.experiencia_fivem img{
  width: 90px;
  height: 90px;
  position: relative;
  top: 20px;
  /* left: 150px; */
}
.experiencia_fivem .titulo_fivem{
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 25px;
  position: relative;
  top: 10px;
}

.paragrafo_fivem {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 15px;
  margin: 20px;
  color: rgb(255, 255, 255);
  z-index: 9999;
  position: relative;
  text-decoration: none;
}

/* 
=======================================
=========== MAIN SECTION 5 ============
=======================================
*/
#section5 {
  height: 500px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
}


#icons_section5 {
  position: relative;
  width: 400px;
  height: 400px;
  /* border: 1px solid white; */
  color: rgb(53, 13, 165);
  left: -200px;
  /* z-index: -1; */

}



.caixa_icones div{
  width: 170px;
  height: 170px;
  border: 1px solid rgba(199, 199, 199, 0.103);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  margin: 10px;
  float: left;
  cursor: pointer;
  background-color: #111111;
  
}
.caixa_icones div:hover{
  background-color: blueviolet;
  color: white;
}
#icons_section5 ion-icon {
  width: 110px;
  height: 100px;
  
}

.caixa_section5_txt {
  width: 98%;
  height: 220px;
  /* border: 1px solid rgb(255, 106, 0); */
  position: absolute;
  left: 440px;
  top: 100px;
}

.caixa_section5_p1 {
  color: rgb(0, 97, 0);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  /* z-index: -1; */
}
.caixa_section5_p2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 76px;
  /* z-index: -1; */
  background: linear-gradient(90deg, rgba(0,158,162,1) 0%, rgba(43,0,162,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 15px;
  /* line-height: 65px; */
}
.caixa_section5_p3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 76px;
  /* z-index: -1; */
  background: linear-gradient(90deg, rgba(0,158,162,1) 0%, rgba(43,0,162,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: -17px;
}
.caixa_section5_p4 {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 20px;
  /* margin: 20px; */
  color: rgb(255, 255, 255);
  z-index: 9999;
  position: relative;
  top: -30px;
}
/* 
=======================================
=========== MAIN SECTION 5 ============
=======================================
*/
footer {
  height: 300px;
  /* border: 1px solid white; */
  color: white;
  background-color: rgba(43,0,162,1) ;

}

#footer_img{
  height: 100%;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer_img2 img{
  width: 190px;
  height: 190px;
  position: relative;
  top: -20px;
}

#footer_button{
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
}
#footer_button a:hover {
  color: rgb(255, 255, 255);
}

.footer_txt_butoon a{
  margin: 30px;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: rgb(150, 150, 150);
}

/* ---------------------------1300PX------------------------------ */

@media (max-width: 1300px) {
  .titulo  {
    font-size: 18px;
    top: 29px;
  }
  .p1  {
    font-size: 100px;
  }
  .p2  {
    font-size: 100px;
    top: 140px;
  }
  .p3 {
    font-size: 17px;
    top: 250px;
  }
  #icons ion-icon {
    margin-top: 5%;
  }
  .name2 {
    top: 3%;
  }
  .titulo_sobre {
    font-size: 18px;
  }
  .titulo_sobre2 {
    font-size: 70px;
  }
  #sobre {
    width: 440px;
  }
  .caixa_image_pc img {
    width: 400px;
  }
  .paragrafos4  .titulo_trabalhos {
    font-size: 17px;
  }
  .subTitulo_trabalhos {
    font-size: 70px;
  }
  #experiencia {
    width: 370px;
    height: 230px;
  }
  .caixa_section5_p1 {
    font-size: 20px;
  }
  .caixa_section5_p2 {
    font-size: 70px;
  }
  .caixa_section5_p3 {
    font-size: 70px;
  }
  .caixa_section5_p3 {
    font-size: 70px;
  }
  .caixa_section5_p4 {
    font-size: 18px;
  }
  .caixa_icones div {
    width: 150px;
    height: 150px;
  }
  #footer_img2 img {
    width: 160px;
    height: 160px;
  }
  .footer_txt_butoon a {
    margin: 24px;
  }
  footer {
    height: 250px;
  }
}

/* -------------------------1070PX------------------------------ */

@media (max-width: 1070px) {

  #button {
    display: none;
  }

  .titulo  {
    font-size: 15px;
    top: 29px;
  }
  .p1  {
    font-size: 87px;
  }
  .p2  {
    font-size: 87px;
    top: 120px;
  }
  .p3 {
    font-size: 14px;
    top: 230px;
  }
  #icons ion-icon {
    margin-top: 4%;
  }
  .name2 {
    top: 3%;
  }
  .titulo_sobre {
    font-size: 14px;
  }
  .titulo_sobre2 {
    font-size: 60px;
  }
  #sobre {
    width: 360px;
  }
  .caixa_image_pc img {
    width: 300px;
    top: -270px;
  }


  .paragrafos4  .titulo_trabalhos {
    font-size: 14px;
  }
  .subTitulo_trabalhos {
    font-size: 60px;
  }
  #experiencia {
    width: 350px;
    height: 200px;
  }
  .experiencia_fivem img{
    width: 60px;
    height: 60px;
    top: 10px;
  }
  .experiencia_fivem .titulo_fivem{
    font-weight: 800;
    font-size: 19px;
    top: 10px;
  }
  .paragrafo_fivem {
    font-size: 14px;
  }


  .caixa_section5_p1 {
    font-size: 17px;
  }
  .caixa_section5_p2 {
    font-size: 50px;
  }
  .caixa_section5_p3 {
    font-size: 50px;
    top: -5px;
  }
  .caixa_section5_p4 {
    font-size: 15px;
    top: -5px;
  }
  .caixa_icones div {
    width: 140px;
    height: 140px;
  }
  #footer_img2 img {
    width: 140px;
    height: 140px;
    top: -29px;
  }
  .footer_txt_butoon a {
    margin: 20px;
  }
  footer {
    height: 220px;
  }
}

/* -------------------------880PX-------------------------------- */

@media (max-width: 880px) {
  #section1 {
    height: 100vh;

  }
  .titulo  {
    font-size: 14px;
    top: 29px;
  }
  .p1 {
    font-size: 60px;
  }
  .p2 {
    font-size: 60px;
    top: 100px;
  }
  .p3 {
    font-size: 14px;
    top: 180px;
  }
  #icons ion-icon {
    margin-top: 9%;
  }
  .instagram ion-icon {
    width: 20px;
    height: 20px;
  }
  .discord ion-icon {
    width: 20px;
    height: 20px;
  }
  .github ion-icon {
    width: 20px;
    height: 20px;
  }
  #meunu_inicial {
    width: 550px;
    height: 250px;
  }
  .name2 {
    top: 13%;
    width: 10px;
    font-size: 15px;
  }
  #txt2 {
    width: 60px;
    height: 100vh;

  }




  #section2 {
    height: 313px;
    /* flex-direction: column; */
    /* border: 1px solid; */
  }
  #divide {
    height: 60px;
  }
  #info {
    height: 200px;
  }
  .abilidades img{
    width: 50px;
    height: 50px;
  }
  .abilidades div {
    margin-left: 20px;
    margin-right: 20px;
    /* position: relative; */
    width: 120px;
    height: 120px;
  }


  
  #caixa_arroow {
    top:-100px;
  }
  #section3 {
    height: 400px;
    position: relative;
    top: -60px;
  }
  .titulo_sobre {
    font-size: 14px;
  }
  .titulo_sobre2 {
    font-size: 40px;
    top: 10px;
  }
  #sobre {
    width: 400px;
    height: 400px;
  }
  .caixa_image_pc img {
    width: 240px;
    top: -360px;
    left: -10%;
  }
  .paragrafo {
    font-weight: 400;
    position: relative;
    top: 10px;
  }


  

  .paragrafos4  .titulo_trabalhos {
    font-size: 14px;
  }
  .subTitulo_trabalhos {
    font-size: 40px;
  }
  #experiencia {
    width: 250px;
    height: 180px;
  }
  .experiencia_fivem img{
    width: 50px;
    height: 50px;
    top: 10px;
  }
  .experiencia_fivem .titulo_fivem{
    font-weight: 600;
    font-size: 15px;
    top: 10px;
  }
  .paragrafo_fivem {
    font-size: 14px;
    font-weight: 600;

  }


  #section5 {
    height: 250px;
    /* border: 1px solid white; */
  }
  .caixa_section5_txt {
    width: 280px;
    height: 150px;
    left: 340px;
    top: 35px;
  }
  .caixa_section5_p1 {
    font-size: 17px;
  }
  .caixa_section5_p2 {
    font-size: 40px;
  }
  .caixa_section5_p3 {
    font-size: 40px;
    top: 1px;
  }
  .caixa_section5_p4 {
    font-size: 13px;
    top: -px;
    font-weight: 600;
    width: 200px;
  }
  #icons_section5 {
    width: 230px;
    height: 230px;
    /* border: 1px solid white; */
  }
  .caixa_icones div {
    width: 90px;
    height: 90px;
  }
  #icons_section5 ion-icon {
    width: 50px;
    height: 50px;
    
  }


  .footer_txt_butoon a {
    margin: 10px;
  }
  #footer_img2 img {
    width: 100px;
    height: 100px;
    top: -19px;
  }
  footer {
    height: 180px;
  }
}

/* -------------------------800PX------------------------------ */

@media (max-width: 600px) {
  #menu{
    padding-left: 20px;
  }
  #txt2 {
    display: none;
  }
  #section1 {
    height: 100vh;
  }
  .titulo  {
    font-size: 14px;
    top: 29px;
    left: -120px;
  }
  .p1 {
    font-size: 40px;
    left: -120px;
  }
  .p2 {
    font-size: 40px;
    top: 80px;
    left: -120px;
  }
  .p3 {
    font-size: 14px;
    top: 125px;
    left: -120px;
  }
  #icons ion-icon {
    margin-top: 9%;
  }
  .instagram ion-icon {
    width: 20px;
    height: 20px;
    left: 20px;
  }
  .discord ion-icon {
    width: 20px;
    height: 20px;
    left: 20px;
  }
  .github ion-icon {
    width: 20px;
    height: 20px;
    left: 20px;
  }
  #meunu_inicial {
    width: 98%;
    height: 200px;
  }
  .name2 {
    top: 13%;
    width: 10px;
    font-size: 15px;
  }
  #txt2 {
    width: 60px;
    height: 100vh;
  }




  #section2 {
    height: 313px;
    /* flex-direction: column; */
    /* border: 1px solid; */
  }
  #divide {
    height: 60px;
  }
  #info {
    height: 200px;
  }
  .abilidades img{
    width: 50px;
    height: 50px;
  }
  .abilidades div {
    margin-left: 20px;
    margin-right: 20px;
    /* position: relative; */
    width: 120px;
    height: 120px;
  }


  
  #caixa_arroow {
    top:-100px;
  }
  #section3 {
    height: 100vh;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    
  }
  .titulo_sobre {
    font-size: 14px;
  }
  .titulo_sobre2 {
    font-size: 40px;
    top: 10px;
  }
  #sobre {
    display: block;
    /* border: 1px solid purple; */
    width: 100%;
    height: 390px;
    margin: 0;
    padding: 20px;
    position: relative;
    /* top: -2%; */
    /* margin: 20px; */
  } 

/* 
  #sobre .caixa_image_pc img {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
  } */
  .caixa_image_pc img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 240px;
    top: -300px;
    margin: 2px auto;
    left: -40px;
    /* border: 4px solid white; */
  }
  .paragrafo {
    font-weight: 400;
    position: relative;
    top: 10px;
    /* border: 2px solid yellow; */
  }


  

  .paragrafos4  .titulo_trabalhos {
    font-size: 14px;
  }
  .subTitulo_trabalhos {
    font-size: 40px;
  }
  #experiencia {
    width: 250px;
    height: 180px;
  }
  .experiencia_fivem img{
    width: 50px;
    height: 50px;
    top: 10px;
  }
  .experiencia_fivem .titulo_fivem{
    font-weight: 600;
    font-size: 15px;
    top: 10px;
  }
  .paragrafo_fivem {
    font-size: 14px;
    font-weight: 600;

  }


  #section5 {
    height: 250px;
    /* border: 1px solid white; */
  }
  .caixa_section5_txt {
    width: 280px;
    height: 150px;
    left: 120px;
    top: 35px;
  }
  .caixa_section5_p1 {
    font-size: 17px;
  }
  .caixa_section5_p2 {
    font-size: 40px;
  }
  .caixa_section5_p3 {
    font-size: 40px;
    top: 1px;
  }
  .caixa_section5_p4 {
    font-size: 13px;
    top: -px;
    font-weight: 600;
    width: 200px;
  }
  #icons_section5 {
    width: 330px;
    height: 230px;
    left: -80px;
    /* border: 1px solid white; */
  }
  .caixa_icones div {
    position: relative;
    top: -80px;
    left: 100px;
    width: 80px;
    height: 80px;
  }
  #icons_section5 ion-icon {
    width: 50px;
    height: 50px;
    
  }


  .footer_txt_butoon a {
    margin: 10px;
  }
  #footer_img2 img {
    width: 100px;
    height: 100px;
    top: -19px;
  }
  footer {
    height: 180px;
  }
}

/* --------------------------320PX----------------------------- */

@media (max-width: 380px)  {
  .caixa_image_pc {
    /* display: none; */
    top: 300px;
  }
  
}
@media (max-width: 320px)  {
  .caixa_image_pc {
    display: none;
    top: 0px;
  }
  
}


